html, body { 
    margin: 0; padding: 0; 
    background: #111; 
}

a {
    color: #111;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

#page { 
    width: 980px; min-height: 500px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 60px #bfc6c7;  
    border: 1px solid #485859;
}

#page * {
    float: left;
    margin: 0; padding: 0;
}

#header {
    background: #485859;
    clear: both;
    width: 100%;
}

#login_box {
    float: right;
}

#top {
    clear: both;
    background: #bfc6c7;
    width: 100%;
}

#top li {
    padding: 5px 10px;
    border-right: 1px solid #333;
}

#top li.active, #top li:hover {
    background: #717e81;
    color: #efefef;
}

#sidebar {
    width: 250px; min-height: 500px;
    margin: 30px 50px 0px 0px;
    overflow: hidden;
}

#sidebar ul {
    width: 100%;
}

#sidebar li {
    clear: both;
    background: #bfc6c7;
    padding: 2px 5px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #333;
}

#sidebar li ul {
    display: none;
}

#sidebar li.active, #sidebar li:hover {
    background: #717e81;
    color: #efefef; 
}

#sidebar li.active ul {
    display: block;
}

#sidebar li.active ul li {
    background: #111; 
}

#sidebar li.active ul li a {
    color: #eee;
}

#sidebar li.active ul li ul {
    display: none;
}

#sidebar li.active ul li.active ul {
    display: block;
}

footer {
    clear: both;
}

.home #content li {
    clear: both;
    margin: 20px 0px; padding: 20px;
    color: #efefef;
    background: #191919; 
    width: 300px;
}

.home #content li.bluepost {
    color: #717e81;
}

.home #content li p {
    clear: both;
    margin: 10px 0px;
    font-size: 12pt;
    width: 300px;
}

.home #content li footer {
    width: 100%; 
}

h1 {
    color: #717e81;
    font-size: 20pt;
}

h2 {
    color: #717e81;
    font-size: 18pt;
}

#content {
    width: 550px;
}

#content h1 {
    margin: 22px 0px;
    font-style: italic;
    font-size: 40px;
    font-weight: normal;
}

#content h2 {
    clear: both;
    font-style: italic;
}

#content img {
    clear: both;
    margin: 0px 20px 20px 0px; 
}

#content p {
    color: #eee;
    font-style: italic;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

#content p.stats {
    margin: 10px 0px 20px 0px;
    font-size: 20px; 
}

#content p.stats strong {
    font-size: 30px;
}

#content p.item {
    background: #2d2d2d;
    padding: 10px;
    margin: 20px 0px 0px;
    font-size: 12pt;
    font-style: normal;
}

#content p.item strong {
    font-size: 16pt;
    width: 100%;
    font-style: italic;
}

#content p.item.unique strong {
    color: #f2890c;    
}

#content p.item.legendary strong {
    color: #ea0cf2;    
}

#content p.item cite {
    margin: 15px 0px;
}

#content p.item .image {
    clear: both;
    width: 75px;
    height: 150px;
    display: block;
    margin: 5px 20px 5px 0px;
    text-align: center;
    background: url(../../img/equipment-slot-bg-1.png) no-repeat;
}

#content p.item.unique .image {
    background-color: #f2890c;
}

#content p.item.legendary .image {
    background-color: #ea0cf2;
}

#content p.item .image img {
    max-width: 75px;
    max-height: 150px;
}

#content p code {
    font-size: 12pt;
}

#content table {
    clear: both;
    width: 650px;
    margin: 40px 0px;
    max-width: 650px;
}

#content table * {
    float: none; 
}

#content th {
    background: #485859;
    color: #eee;
    padding: 30px 5px 5px;
}

#content th:first-child {
    background: transparent;
}

#content tr td {
    background: #bfc6c7;
    text-align: center;
    padding: 5px;
}

#content tr td:first-child {
    text-align: left; 
}

#content tr:nth-child(even) td {
    background: #717e81;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}